.js-item
{
  border: 1px solid lightgray;
  outline: none;
  height: 30px;
  padding: 0 5px ;
}
.js-calender
{
  border: 1px solid lightgray;
  outline: none;
  height: 30px;
  padding: 0 5px;

}
.buttonOne
{
  padding: 8px 30px;
  border: none;
  background: rgb(43, 216, 43);
  color: beige;
}
.js-but
{
  border: none;
  background: rgb(203, 19, 19);
  color: beige;
}
.grid,.entryLine
{
  margin-top: 30px;
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap:10px;
  row-gap: 10px;
  align-items: center;
}